<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.we00401.guntest2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SavedSearch" />
        <activity android:name=".settings" />
        <activity android:name=".SearchScreen" />
        <activity
            android:name=".webScreen"
            android:label="@string/title_activity_web_screen"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>